<!--
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Pais</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of persona">
            <td>{{p.idPersona}}</td>
                <td>{{p.nombres}}</td>
            <td>{{p.apellidos}}</td>
            <td>{{p.edad}}</td>
            <td>{{p.pais.nombre}}</td>
        </tr>
    </tbody>
</table>
-->
<div>
  <mat-form-field appearance="standard">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="Buscar" #input>
  </mat-form-field>
</div>
<div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="idPersona">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
      <td mat-cell *matCellDef="let element"> {{element.idPersona}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="edad">
      <th mat-header-cell *matHeaderCellDef> Edad </th>
      <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="pais">
        <th mat-header-cell *matHeaderCellDef> Pais </th>
        <td mat-cell *matCellDef="let element"> {{element.pais.nombre}} </td>
      </ng-container>
    <!-- boton -->
    <ng-container matColumnDef="editar-eliminar">
        <th mat-header-cell *matHeaderCellDef> Editar-Eliminar </th>
        <td mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary" (click)="openModal(row)">
                <mat-icon>edit</mat-icon>
            </button>    
            <button mat-raised-button color="accent" (click)="onDelete(row.idPersona)">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </td>
      </ng-container>  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
  

  <button mat-raised-button color="primary" (click)="openModal()" style="float:right;">
    <mat-icon>persona_add</mat-icon>
  </button>
  
  